/* Remove default bullets */

ul, #field_category {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */

#field_category {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */

.caret {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */

.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active-list {
  display: block;
}

/* Device screen */

.field {
  display: none;
  /* border: thick solid #000000; */
}

.field:not(:first-child) {
  border-top: thick solid #000000;
}

.field_name {
  font-weight: bold;
  text-align: center;
}

.field_unit {
  text-align: center;
}

#device_screen {
  border: thick solid #000000;
  display: grid;
  grid-template-columns: 50% 50%;
}

#device_screen.show_1 {
  grid-template-rows: 100%;
}

#device_screen.show_2 {
  grid-template-rows: repeat(2, 50%);
}

#device_screen.show_3 {
  grid-template-rows: repeat(3, 33%);
}

#device_screen.show_4 {
  grid-template-rows: repeat(4, 25%);
}

#device_screen.show_5, #device_screen.show_6, #device_screen.show_7, #device_screen.show_8, #device_screen.show_9, #device_screen.show_10 {
  grid-template-rows: repeat(5, 20%);
}

.show_1_col {
  display: block;
}

.show_2_col {
  display: block;
  font-size: medium;
}

.show_1, .show_2, .show_3 {
  display: block;
  font-size: xx-large;
}

.show_4 {
  display: block;
  font-size: x-large;
}

.show_5, .show_6, .show_7, .show_8, .show_9, .show_10 {
  display: block;
  font-size: large;
}

#field_0.show_1_col {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
}

#field_1.show_1_col {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 2;
}

#field_2.show_1_col {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 3;
}

#field_3.show_1_col {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 4;
}

#field_4.show_1_col {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 5;
}

.selected {
  background-color: darkolivegreen;
}

.warn-gt-10 {
  background-color: red;
}

.delete_button,.up_button,.down_button {
  margin-left: 8px;
}

p {
  margin: 0px;
  padding: 0px;
}

#page {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header header header" ". . ." "tree list screen" "screen_selector screen_settings screen_settings" "footer footer footer";
}

.banner {
  grid-area: header;
}

#nav_bar {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}

#options {
  grid-column: 3;
  text-align: right;
}

#dfe_tree {
  grid-area: tree;
}

#on_screen_list {
  grid-area: list;
}

#ds {
  grid-area: screen;
}

#screen_options {
  grid-area: screen_selector;
}

#footer {
  grid-area: footer;
  height: 40px;
  border-top: thin dotted black;
  display: flex;
}

#footer span {
  align-self: flex-end;
}

ul#nav_category_list li {
  display: inline;
}

ul#options_list li {
  display: inline;
}

#screen_selector {
  grid-area: screen_selector;
}

#screen_settings {
  grid-area: screen_settings;
}

.screen_config {
  display: none;
}

.activeScreen {
  display: block;
}

.activeScreenSelector {
  background-color: green;
}

/* TODO remove border from 2nd element when show_10*/